@font-face {
	font-family: Eyechart;
	src: url('/eyechartbold.ttf');
}

* {	margin: 0; padding: 0; }
html { height: 100%; }
body { margin: 0; font-family: Helvetica Neue; color: #30273a; }
a { text-decoration: none; color: #30273a; }
/*h1 { margin-top: 20px; }*/
/*h2 { margin-top: 20px; }*/
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; clear: both; }

ul { list-style: none; }
p.control { margin-top: 20px; }

fieldset { border: 0; margin: 0; padding: 0; }
label { display: block; }
label input { display: inline-block; width: 100%;}

#header { padding: 20px; text-align: center; background: white; }
#logo { float: left; text-align: left; }
#logo a { background: transparent; font-size: 12pt; }
#logo p { font-size: 8pt; max-width: 190px; }
#logo div {
	font-style: italic;
	font-weight: bold;
	font-size: 8pt;
}
#menu li a { padding-top: 50px; display: block; }
#menu li#logo a { padding-top: 0; }
#menu li#logo { margin-left: 0; }
#menu a.icon.account { background: url('/images/icon-account.png') no-repeat top center; }
#menu a.icon.sites { background: url('/images/icon-sites.png') no-repeat top center; }
#menu a:hover { 
	color: #888;
}
#menu a.current {
	color: #888;
/*	text-shadow: 2px 2px #aaa;*/
	border-bottom: 1px solid #888;
}
#menu a.current:hover {
}

#content { min-height: 320px; }

#footer { font-size: 8pt; color: #444; text-align: left; padding-left: 20px; padding-top: 20px; clear: both; }
#footer p { margin: 10px 0; }

.ui-widget { font-size: 9pt; }

#sites .sites li a { padding: 5px; display: block; }
#sites .sites li { margin-top: 10px; }
#sites .sites li:hover { background: #efefef; }
#sites .sites li span { display: block; }
#sites .sites li span.last,
#site .status span.last { font-size: 8pt; }

#site { max-width: 20em; }
#site .status span { display: block; }
#site h2 { margin-top: 20px; }
#site label { margin-top: 10px; }

#plans table th { text-align: left; font-size: 8pt; }
#plans table th,
#plans table td { padding: 5px 10px; }
#plans table th:first-child,
#plans table td:first-child { padding: 5px 10px 5px 0; }
#plans > p { margin-bottom: 20px; }

#account h2 { margin-top: 0; }
#account > div { padding: 20px; }
#account > div:hover { background: #eee; }
#account table td { padding: 5px; }
#account table td:first-child { min-width: 100px; }

#session label { display: block; }
#session form { float: left; }
#session .action h3,
#user .action h3 { margin-top: 10px; }

#user { min-width: 36em; }
#user form { float: left; }
#user .action ul.validation { list-style: circle; }
#user .action ul.validation li { font-style: italic; }

#credit_card { padding: 20px; }
#credit_card p { margin-top: 10px; }
#credit_card p.amount { font-size: 18pt; }
#credit_card p.amount small { clear: both; }

.action { float: left; }
.action { margin-left: 50px; max-width: 60%; border: 1px solid #aab; }
.action h3,
.action ul { margin: 20px; }
.action h2 { color: #666; }
.action > ul { list-style: disc; margin-left: 50px; }

/* width font scaling */
@media screen and (max-width: 360px) { body { font-size: 10pt; } }
@media screen and (max-aspect-ratio: 4/3) and (max-width: 360px) { #menu li { margin-left: 15px; } }
@media screen and (min-width: 361px) and (max-width: 480px) { body { font-size: 11pt; } }
@media screen and (max-aspect-ratio: 4/3) and (min-width: 361px) and (max-width: 480px) { #menu li { margin-left: 20px; } }
@media screen and (min-width: 481px) and (max-width: 640px) { body { font-size: 12pt; } }
@media screen and (max-aspect-ratio: 4/3) and (min-width: 481px) and (max-width: 640px) { #menu li { margin-left: 25px; } }
@media screen and (min-width: 641px) and (max-width: 960px) { body { font-size: 15pt; } }
@media screen and (max-aspect-ratio: 4/3) and (min-width: 641px) and (max-width: 960px) { #menu li { margin-left: 45px; } }
@media screen and (min-width: 961px) and (max-width: 1200px) { body { font-size: 18pt; } }
@media screen and (max-aspect-ratio: 4/3) and (min-width: 961px) and (max-width: 1200px) { #menu li { margin-left: 75px; } }
@media screen and (min-width: 1201px) { body { font-size: 21pt; } }
@media screen and (max-aspect-ratio: 4/3) and (min-width: 1201px) { #menu li { margin-left: 95px; } } 

/* landscape */
@media screen and (min-aspect-ratio: 4/3) {
	
	#header { position: fixed; width: 150px; height: 100%; border-right: 1px solid #888; }
	#header ul li { clear: both; display: block; padding: 20px 0; }
	#header ul li#logo { background: url('/images/icon@2x.png') no-repeat; padding-top: 125px; }
	#menu li { margin-left: 0; }
	#content,
	#footer { margin-left: 200px; }
	
}

/* landscape SD */
@media screen and (min-aspect-ratio: 4/3) and (max-aspect-ratio: 16/9) {

	#logo { height: 100px; }
	#logo a { display: block; }
	#logo p { max-width: 140px; }
	
}
	
/* landscape HD */
@media screen and (min-aspect-ratio: 16/9) {

	#logo { height: 100px; }
	
}

/* portrait */
@media screen and (max-aspect-ratio: 4/3) {
	
	ul:after,
	#header:after {
		content: '.';
		visibility: hidden;
		clear: both;
	}

	#header,
	#content,
	#footer {
		min-width: 320px;
/*		max-width: 480px;*/
	}

	#header {
		font-size: 12pt;
		height: 75px;
		border-bottom: 1px solid #888; 
	}

	#menu li { float: left; }

	#logo { background: url('/images/icon.png') no-repeat; padding-left: 60px; }
	#logo p { max-width: 140px; }

	#public_menu {
		float: left;
	}

	#public_menu a {
		background: #eee;
	}

	#content {
		margin: 0 auto;
		padding: 20px;
	}

	#signup table tr td:first-child {
		width: 15em;
	}

	#sites,
	#account {
		margin: 0 auto;
		max-width: 50em;
	}

	#sites { clear: both; }
	
	#sites table {
		width: 100%;
	}

	#sites tr:hover {
		background: #eee;
	}

	#sites th {
		text-align: left;
		font-size: 10pt;
		padding: 4px 10px;
	}

	#sites td {
		padding: 10px;
	}

	#sites td a {
		font-size: 8pt;
	}

	#account table tr td:first-child,
	#signup table tr td:first-child,
	#signin table tr td:first-child {
		width: 10em;
	}

	#account td {
		padding: 10px;
		vertical-align: top;
	}

	#account a {
		font-size: 8pt;
		vertical-align: top;
	}

	.modal tr td:first-child {
		min-width: 10em;
	}

	.modal p {
		margin: 20px 0 10px 0;
	}

	.ui-state-highlight,
	.ui-state-error {
		margin: 10px auto;
		padding: 10px;
	}
	
}
