#eyechart
	%h1 D O Y O U
	%h2 K N O W I F
	%h3 Y O U R S I T E 
	%h4 I S R U N N I N G
	%h5 A T T H I S M O M E N T ?
	%p Keep track of your web sites and receive alerts if they go down.
	%p
		= link_to 'Sign Up', sign_up_path, :class => 'button'
		= link_to 'Sign In', sign_in_path, :class => 'button'
