= form_for @site, method: :delete, remote: true do |f|
	%h1 Remove Site
	%p Are you sure you want to remove this site? There is no undo.
	= f.submit "Yes, Remove It.", class: 'button'
	= link_to 'Cancel', site_path(@site)
	